@model List<PhanQuyen>
@{
    ViewBag.Title = "Danh sách quyền";
    ViewBag.Controller = "Phân quyền";
    ViewBag.General = "active";
    ViewBag.Permission = "active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Id = "view-null";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Title</h3>
                <a href="/Admin/Permission/Add" class="btn btn-success pull-right">Thêm</a>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Tên quyền</th>
                            <th>Danh sách quyền</th>
                            <th class="w100">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenQuyen</td>
                                <td>@item.DanhSach</td>
                                <td>
                                    <a href="/Admin/Permission/Edit/@item.MaQuyen" class="btn btn-info btn-sm">Sửa</a>
                                    <a href="/Admin/Permission/Delete/@item.MaQuyen" onclick="return confirm('Bạn chắc chắn muốn xóa mục đã chọn?')" class="btn btn-danger btn-sm">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
