@{
    ViewBag.Title = "Quản trị";
    ViewBag.Controller = "Quản trị";
    ViewBag.General = "active";
    ViewBag.Home = "active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Id = "view-null";
}

<h3>Chào bạn đến với hệ thống!</h3>

